.notice{
    background-color: #696969;
    padding: 2%;
    border-radius: 25px;
    margin: 2% 1%;
}
#bt86{
    color: white;
    background-color: white;
    border-radius: 25px;
    font-size: 10px;
}