{/*Student*/}
#student{
    max-width: 1000px;
    background: #c8eafc;
    padding: 30px;
    margin: 50px auto;
    border-radius: 1px;
    border-radius: 10px;
}

form label, form input {
    display: block;
//margin-bottom: 10px;
    width: 90%
}

form input {
    padding: 10px;
    border: solid 1px #BDC7D8;

}
#bt1{
    color: #0e1118;
    background-color: #61dafb;
    border-radius: 25px;
}
#bt2{
    color: #0e1118;
    background-color: #7ca1fc;
    border-radius: 25px;
}
#bt4{
    color: #0e1118;
    background-color: #f369e1;
    border-radius: 25px;
    font-size: 12px;
    padding: 5px;
    font-family: "Comic Sans MS";
}

.topic{
    min-width: 600px;
    padding: 2%;
    margin: 2%;
    padding-right: 3%;
    border-radius: 15px;
    background-color: #3a4a66;
}
.maincontainer{
    min-width: 60px;
    background-color: #fcfdff;
    padding: 5%;
    border-style: solid;
    border-color: #a2bdd8;
    opacity: revert;
    border-radius: 25px;
}
.session{

    padding: 2%;
    border-style: dot-dash;
    margin: 1%;
    border-color: #242424;
    opacity: revert;
}
.formclass{
    border-style: solid;
    border-color: #0e1118;
}
.full_view_student{
    background: #c8eafc;
    border-radius: 15px;
    margin-right: 2%;
    margin-top: 3%;

}
.ind_session{
    background-color: #fccbaa;
    border-radius: 15px;
    padding:1%;
}
.cluster_show{
    background-color: #f33864;
}
.teacher_view{
    background-color: #fcecd6;
    margin: 2%;
    padding: 2%;
}
.full_view_teacher{
    background-color: #fcecd6;
    border-radius: 15px;
    margin-right: 2%;
    margin-top: 3%;

}
.full_view_school{
    background: #edfdc1;
    border-radius: 15px;
    margin-right: 2%;
    margin-top: 3%;

}
.school_view{
    background: #edfdc1;
    margin: 2%;
    padding: 2%;
}