.rowC{
    display:flex;
    flex-direction:row;
}
.knowb{
    background-color: #ffffff;
    margin: 2% 1%;
    min-width: 30%;
    align: center;
    min-height: 60%;
    border-radius: 25px;
    overflow-y: scroll;
    height: 700px;


}
.other{
    background-color: #ffffff;
    margin: 1% 1%;
    padding:0%;
    min-width: 50%;
    border-radius: 25px;
    overflow-y: scroll;
    height: 700px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.other::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
.search{
    background-color: #ffffff;
    margin: 1% 1%;
    padding:0%;
    min-width: 48%;
    border-radius: 25px;
    overflow-y: scroll;
    height: 700px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.search::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
.div3{
    display:flex;
    flex-direction:row;

}
.div1{
    display:flex;
    flex-direction:row;

}
.div2{
    display:flex;
    flex-direction:row;

}

.search_sc{
    background-color: #696969;
    padding: 2%;
    border-radius: 25px;
    margin: 2% 1%;
}

.new4{
    border: 0.5px solid #808080;
}
