.back{
    background-color: #b6caef;
    border-radius: 40px;
}
#userimage_cluster{
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-style: solid;
    border-color: #61dafb;
}

#bt5{
    background-color: #2e4c5a;
    opacity: revert;
    border-radius: 20px;
    font-size: 10px;
    color:white;

}
.class_show_users{
    margin: 1% 5%;
    min-width: 450px;
}
#bt6{
    background-color: #7b909a;
    opacity: revert;
    border-radius: 20px;
    font-size: 10px;

}
#bt_show{
    margin-bottom: 5px;
    background-color: #1eb4ff;
    border-radius: 50%;
    border-style: solid;
    border-color: #7b909a;
}
.myclassmates{
    background-color: #ecf9fc;
    padding:2%;
    border-radius: 10px;
    overflow-y: scroll;
    height: 2000px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.myclassmates::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
.mostactive{
    background-color: #efe4c4;
}
.mostactive_3{
    max-height: 200px;
    background-color: #7b909a;
}
#userimage_scoreboard{
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-style: solid;
    border-color: #fcfbe5;
    border-width:10px ;
}
.card-style{
    width: 18rem;
    margin:20px;
    background-color: #f8ff4d;
}
card-style :hover{
    background-color: #932dec;
}
.addInteraction{
    background-color: #f9fcc5;
    min-width: 500px;
    border-radius: 25px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.addInteraction::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
.formclass1{
    padding: 2%;
}
#color_red{
    color: red;
}
#heading_2{
    color: #03b89d;
}
#heading_1{
    color: #c26d06;
    font-family: Algerian;
}
.display-one-card{
    background-color: #f5d5ae;
    margin: 1% 25%;

}
.main_cards{
    background-color: #595f66;
    margin-right: 1% ;
    border-radius: 25px;
    padding: 1%;
}